<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout 1</title>
  <link rel="stylesheet" href=style.css>
</head>

<body class="center">
  <section class="centering-container center">
    <article class="centering-item align-start">
      <h2>Nav</h2>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Clients</li>
        <li>Contact Us</li>

      </ul>
    </article>
    <article class="centering-item align-stretch">
      <h2>Main Content</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, suscipit. Nulla quis sint, atque dolore.</p>
    </article>
    <article class="centering-item align-end">
      <h2>Sidebar</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, suscipit. Nulla quis sint, atque dolore.</p>
    </article>
  </section>

</body>

</html>