<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="layout-1.css">

</head>

<body class="container">
  <div class="navigation">
    <h2>Nav</h2>
    <ul>
      <li class="one">Home</li>
      <li class="one">About</li>
      <li class="one">Clients</li>
      <li class="one">Contact Us</li>
    </ul>
  </div>

  <div class="main content">
    <h2>Main Content</h2>
    <p>I'm the first in the source order</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsum veniam eveniet nostrum sunt quaerat velit
      ullam iste numquam, fugiat iure, ex eos et animi molestias repellendus labore. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Neque ipsum veniam eveniet nostrum sunt quaerat velit
      ullam iste numquam, fugiat iure, ex eos et animi molestias repellendus labore.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsum veniam eveniet nostrum sunt quaerat velit
      ullam iste numquam, fugiat iure, ex eos et animi molestias repellendus labore. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Neque ipsum veniam eveniet nostrum sunt quaerat velit
      ullam iste numquam, fugiat iure, ex eos et animi molestias repellendus labore.
    </p>
  </div>
  <div class="sidebar">
    <h2>Sidebar</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsum veniam eveniet nostrum sunt quaerat velit
      ullam iste numquam, fugiat iure, ex eos et animi molestias repellendus labore.
    </p>
  </div>

  <div class="footer">
    <p>Copyright &#169 2017</p>
  </div>

</body>

</html>