* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border:dashed black;
  width:1000px;
  height:700px;
  font-family: Arial, Helvetica, sans-serif;
  
  }

  .container{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-content: center;
    flex-wrap: nowrap;

    }

    .navigation {
      background-color:lightgray;
      width:600px;
      height:700px;
    }

    .maincontent {
      width:600px;
    }

    .sidebar {
      background-color:lightgray;
      width:600px;
      height:700px;
    }
    
    .footer {
      width:400px;
      height:50px;
      background-color:lightgray;
      position:absolute;
      margin-top:647px;
    }

   